<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogConfigFile" value=".\config\logconfig.xml"/>
    <add key="LanguagePath" value="Languages\Language-zh_cn.txt"/>
    <add key="conString" value="Address=.;Database=Db_Tank;Integrated Security=SSPI"/>
    <add key="LoginLapseInterval" value="30"/>
    <add key="SaveInterval" value="5"/>
    <add key="SaveRecordInterval" value="5"/>
    <add key="ScanAuctionInterval" value="60"/>
    <add key="ScanMailInterval" value="60"/>
    <add key="ScanConsortiaInterval" value="180"/>
    <add key="ServerID" value="0"/>
    <add key="GameType" value="1"/>
    <add key="AreaID" value="1"/>
    <add key="TxtRecord" value="true"/>
    <add key="HelpStr" value="sdf"/>
    <add key="AAS" value="false"/>
    <add key="DailyAwardState" value="true"/>
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="9202"/>
    <add key="CrossServerIp" value="127.0.0.1"/>
    <add key="CrossServerPort" value="9300"/>
    <add key="CrossServerKey" value="KJHGKJ13465adsfaGTYU455T"/>
    <add key="BigAreaID" value="1"/>
    <add key="ValidDate" value="0"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Center.Server.CenterServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Server.ServuceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Center.GMService.GMServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="CenterService">
          <security mode="None"/>
        </binding>
        <binding name="AreaBigBugleService">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="GMService">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Center.Server.CenterServiceBehavior" name="Center.Server.CenterService">
        <endpoint address="net.tcp://127.0.0.1:8733/" binding="netTcpBinding" bindingConfiguration="CenterService" contract="Center.Server.ICenterService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8731/CenterService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Server.ServuceBehavior" name="Server.Service">
        <endpoint address="net.tcp://127.0.0.1:9230/Service/" binding="netTcpBinding" bindingConfiguration="AreaBigBugleService" contract="Server.IService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1/Service/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Center.GMService.GMServiceBehavior" name="Center.GMService.GMService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="GMService" contract="Center.GMService.ServiceContracts.IGMService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1/GMService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
